.idea
.DS_Store
.vscode
.pytest_cache
*.pyc
dumps/*
mutation_level_extended/*
mutation_level_old_gram/*
mut_params/*
mut_params_old_grammar/*
mutation_level_bh/*
mutation_level_bh_extended/*
mutation_level_extended/*
mutation_level_quad/*
mutation_level_quad_extended/*
mutation_level_v3/*
mutation_level_v3_extended/*
mutation_level_pagie/*
mutation_level_pagie_extended/*
testes/*
testes2/*
params_problems_extended/*
params_problems_old_gram/*