.idea
.DS_Store
.vscode
.pytest_cache
*.pyc
dumps/*
dependent/
standard/
analyse.py
quad_plot.png
script.sh
dependent_old_50gen/
standard_old_gen50/
dependent_new/
dependent_sggp/
standard_r/
dependent_sggp_final/
standard_final/
standard_bh/
standard_bh_error/
dependent_bh/
dependent_pagie/
dependent_quad/
standard_pagie/
dependent_pagie_fixed_depthmut/
dependent_quad_fixed_depthmut
standard_pagie_fixed_depthmut/
standard_quad_fixed_depthmut/
dependent_pagie_fixed_depthmut_new_mut/
standard_pagie_fixed_depthmut_new_mut/
standard_pagie_fixed_depthmut_fixtorch/
dependent_pagie_fixed_depthmut_fixtorch/
dependent_pagie_fixed_depthmut_fixtorch_new_mut/
dependent_bh_fixed_depthmut_fixtorch_new_mut/
standard_bh_fixed_depthmut_fixtorch_new_mut/
standard_pagie_fixed_depthmut_fixtorch_new_mut/
dependent_quartic/
before_pytorch_bf_mut/
dependent_bh_fixed_depthmut_fixtorch/
standard_bh_fixed_depthmut_fixtorch/
standard_quad/
dependent_bh_rrse/
standard_pagie_nbest_20/
standard_pagie_nbest_20_pmut_01/
standard_pagie_nbest_5/
standard_pagie_nbest_10/
standard_bioav/
dependent_bioav/
standard_ld50/
dependent_ld50/
standard_ppb/
dependent_ppb/
sge_ld50/
sge_bioav/
sge_ppb/
dependent_bioav_how/
plots/